---

---

<div class="justify-center place-items-center hero min-h-screen bg-base-200" style="background-image: url(AlphaVoid.png);">
   

      <div class="max-w-2xl xl:max-w-4xl 2xl:max-w-6xl max-w-md text-center">
        <h1 class="mt-24 xl:text-9xl font-bold text-primary text-6xl">Data<b class="text-secondary">Share</b></h1>
        <h2 class="xl:text-6xl text-2xl">Embrace the New Era of Transparency</h2>
        <div class="flex flex-col 2xl:flex-row justify-center">

          <div class="justify-center">
            <p class="2xl:mt-24 py-16 2xl:max-w-xl text-lg xl:text-2xl text-left"><b class="text-secondary">Over 1 Billion and Counting!</b> Every click, scroll, like, and share adds to the staggering number of data points we have amassed. From your personal details to your browsing habits, online interactions, and beyond, we leave <b class="text-secondary">no stone unturned</b> in our quest for your data. Brace yourself as we leverage this wealth of information to shape targeted advertising campaigns, profile your every move, and offer an <b class="text-secondary">unparalleled</b> glimpse into your digital identity.</p>
                 
        
       
   
      
     <div class="stats shadow text-center justify-center sm:max-w-lg text-lg sm:text-xs">
            <div class="stat place-items-center">
              <div class="stat-title">Data Points Collected</div>
              <div class="stat-value">1B</div>
              <div class="stat-desc">↘︎ 87.2M (14%)</div>
            </div>
            
            <div class="stat place-items-center">
              <div class="stat-title">Targeted Ads Served</div>
              <div class="stat-value text-secondary">10.2M</div>
              <div class="stat-desc text-secondary">↗︎ 200,000 (2%)</div>
            </div>
            
            <div class="stat place-items-center">
              <div class="stat-title">Data Breaches</div>
              <div class="stat-value">100</div>
              <div class="stat-desc">↘︎ 14 (14%)</div>
            </div>
        </div>
      <p class="text-center py-6 text-neutral-500">while we take pride in our billion-plus data points, our occasional data breaches (100 and counting) add an element of thrill to the mix, reminding us of the vulnerability inherent in sharing personal information.</p>

      </div>
      <img src="Data.png" class="px-9 ml-16 max-w-4xl opacity-80 invisible hidden xl:visible xl:block" />
  
    </div>
      </div>

    
  </div>
  <div class="divider mt-24"><h1 class="text-6xl font-bold text-primary text-center ">Features</h1></div> 
  

<div class="flex flex-col 2xl:flex-row justify-center place-items-center mb-24">

  <div class="card card-side bg-base-100 shadow-xl m-8">
  <figure><img class="xl:w-48 w-24 pl-4" src="data-collection.png" alt="collection"/></figure>
  <div class="card-body">
    <h2 class="card-title text-accent">Collection</h2>
    <p class="max-w-xs">We diligently collect every piece of information you willingly provide during your interactions with DataShare™. This includes personal details, browsing history, social media activity, and more.</p>
  </div>
</div>

<div class="divider divider-horizontal"></div>

<div class="card card-side bg-base-100 shadow-xl m-8">
  <figure><img class="xl:w-48 w-24 pl-4" src="profile.png" alt="profiling"/></figure>
  <div class="card-body">
    <h2 class="card-title text-accent">Profiling</h2>
    <p class="max-w-xs">Our expert algorithms meticulously analyze and profile your data, creating a comprehensive digital representation of your interests, preferences, and habits. We aim to know you better than you know yourself!</p>
  </div>
</div>

<div class="divider divider-horizontal"></div>

<div class="card card-side bg-base-100 shadow-xl m-8">
  <figure><img class="xl:w-48 w-24 pl-4" src="monetization.png" alt="monetization"/></figure>
  <div class="card-body">
    <h2 class="card-title text-accent">Monetization</h2>
    <p class="max-w-xs">Here comes the exciting part! We leverage your valuable data to generate revenue by partnering with marketers, advertisers, and other interested parties. Your personal information becomes a lucrative asset in the world of targeted advertising and data-driven decision-making.</p>
  </div>
</div>

</div>

<div class="divider mb-12"><h1 class="text-6xl font-bold text-primary text-center">Join us!</h1></div> 
 


    <div class="mx-16 flex flex-col lg:flex-row-reverse place-items-center justify-center mb-24 mt-4">
      <div class="text-left max-w-2xl">
        <p class="py-6 text-lg">Take a leap into the world of <b class="text-secondary">unabashed openness</b> with DataShare™! Our <b class="text-secondary">groundbreaking</b> login process lets you generously contribute your personal information without any pesky concerns about <b class="text-secondary">privacy and security</b>. Experience the thrill of surrendering your data, knowing that <b class="text-secondary">we'll handle it</b> with minimal regard for your personal interests. So go ahead, log in and join us on this <b class="text-secondary">exciting journey</b> of data exploitation!</p>
      </div>
      <div class="card flex-shrink-0 mx-8 w-full max-w-sm shadow-2xl bg-base-100">
        <div class="card-body">
          <div class="form-control">
            <label class="label">
              <span class="label-text">Enter your email address... We promise not to misuse it. Maybe.</span>
            </label>
            <input type="text" placeholder="Email to sell" class="input input-bordered" />
          </div>
          <div class="form-control">
            <label class="label">
              <span class="label-text">Share Your Deepest Secrets</span>
            </label>
            <input type="text" placeholder="Password for us to store" class="input input-bordered" />
            <label class="label">
              <a href="#" class="label-text-alt link link-hover">Forgot password? Let us collect a new one.</a>
            </label>
          </div>
          <div class="form-control mt-6">
            <button class="btn btn-primary">Sacrifice Privacy & Proceed</button>
          </div>
        </div>
      </div>
    </div>

    <div class="divider"></div> 